.price {
  padding-bottom: 20px;
  margin-bottom: 100px;

  &__menu {
    display: flex;
  }

  @media screen and (max-width: 1200px) {
    margin-bottom: 80px;
  }

  @media screen and (max-width: 992px) {
    padding-bottom: 45px;
    margin-bottom: 50px;
  }
}
