.price {
  padding-bottom: 20px; // 30px
  // margin-bottom: 151px;
  margin-bottom: 110px;

  &__menu {
    display: flex;
  }

  @media screen and (max-width: 992px) {
    padding-bottom: 30px;
    margin-bottom: 38px;
  }
}
