@import '../../components/Layout/Layout.scss';

.prices {
  &__body {
    position: relative;
    margin-top: 15px;

    @include breakpoint(sm) {
      margin-top: 0px;
    }
  }

  &__profile {
    display: flex;

    @include breakpoint(sm) {
      flex-direction: column;
    }
  }

  &__image {
    flex: 0 1 44%;

    @include breakpoint(sm) {
      flex: 0 1 100%;
      order: 2;
    }
  }

  &__image img {
    width: 100%;
  }

  &__data {
    padding-top: 20px;

    @include breakpoint(md) {
      padding-top: 35px;
    }

    @include breakpoint(sm) {
      padding: 25px 0 16px;
    }
  }

  &__title {
    font-weight: 700;
    margin: 66px 0 35px;

    @include breakpoint(md) {
      margin: 40px 0 30px;
    }

    @include breakpoint(sm) {
      margin: 25px 0 20px;
    }
  }

  &__info {
    font-size: 30px;
    line-height: 1.18;
    text-align: center;
    margin: 0 auto;
    padding: 0 5px;

    @include breakpoint(sm) {
      font-size: 19px;
    }

    @include breakpoint(xs) {
      font-size: 17px;
    }
  }

  &__text {
    line-height: inherit;
    text-indent: 40px;
    padding: 0 100px;

    @include breakpoint(lg) {
      text-indent: 0px;
      padding: 0 60px;
    }

    @include breakpoint(md) {
      padding: 0 30px;
    }

    @include breakpoint(sm) {
      padding: 0 20px;
    }

    @include breakpoint(xs) {
      padding: 0 0px;
    }
  }

  &__list {
    text-align: start;
    margin: 45px 0 55px;
    padding: 0 20px 0 190px;

    @include breakpoint(lg) {
      padding: 0 50px 0 100px;
    }

    @include breakpoint(md) {
      margin: 45px 0 50px;
      padding: 0 50px 0 70px;
    }

    @include breakpoint(sm) {
      text-align: center;
      margin: 30px 0 30px;
      padding: 0 30px 0 30px;
    }

    @include breakpoint(xs) {
      padding: 0;
    }
  }

  &__item {
    position: relative;
  }

  &__item::before {
    content: counter(list-item) ". ";
    display: inline-block;
    margin-right: 10px;
  }

  &__text-attention {
    padding: 0 80px;

    @include breakpoint(lg) {
      padding: 0 50px;
    }

    @include breakpoint(md) {
      padding: 0 30px;
    }

    @include breakpoint(sm) {
      padding: 0 20px;
    }

    @include breakpoint(xs) {
      line-height: 1.6;
      padding: 0;
    }
  }

  &__attention {
    text-decoration: underline;
  }

  &__note {
    white-space: nowrap;
  }

  &__viber {
    color: #682FC3;
  }

  &__telegram {
    color: #2B7BF4;
  }

  &__whatsapp {
    color: #05921C;
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 25px;

    @include breakpoint(md) {
      margin-top: 50px;
    }

    @include breakpoint(sm) {
      margin-top: 25px;
    }
  }

  &__go-to-main {
    margin: 45px 0 45px;

    @include breakpoint(md) {
      margin: 30px 0 30px;
    }

    @include breakpoint(sm) {
      margin: 30px 0 20px;
    }
  }

  &__go-to-top {
    display: none;

    @include breakpoint(sm) {
      display: block;
    }
  }
}

.button {
  &__button {
    display: flex;
    gap: 10px;
    font-size: 20px;
    padding: 28px 18px;

    @include breakpoint(sm) {
      gap: 8px;
      font-size: 16px;
      padding: 15px 17px;
    }
  }

  &__text {
    align-self: center;
  }

  &__icon {
    width: 25px;
  }
}
