.logo {
  &__container {}

  &__body {
    text-align: center;
  }

  &__title {}

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 26px;
  }
}
