.services {
  &__menu {
    display: flex;
  }

  &__buttons-group {
    display: flex;
    padding-bottom: 35px;
    margin-bottom: 100px;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 1199.99px) {
    &__buttons-group {
      padding-bottom: 40px;
      margin-bottom: 80px;
    }
  }

  @media screen and (max-width: 991.98px) {
    &__buttons-group {
      padding-bottom: 40px;
      margin-bottom: 50px;
    }
  }
}

.buttons-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  &__button:not(:last-child) {
    margin-right: 47px;
  }

  &__button {
    color: #000000;
    text-transform: none;
    padding: 18px 0px;
    font-size: 25px;
    line-height: 118%;
    border: #000000 solid 3px;
    min-width: 250px;
    text-align: center;
    transition: all .2s ease;
  }

  &__button:hover {
    color: #FFFFFF;
    background-color: #000000;
    transition: all .2s ease;
  }

  &__button_booking {
    color: #FF3D00;
    font-size: 20px;
    padding: 22px 0px;
  }

  &__button_booking:hover {
    color: #FF3D00;
  }

  @media screen and (max-width: 1199.98px) {
    &__button:not(:last-child) {
      margin-right: 30px;
    }

    &__button {
      padding: 16px 0px;
      font-size: 20px;
      min-width: 190px;
    }

    &__button_booking {
      font-size: 15px;
      padding: 19px 0px;
    }
  }

  @media screen and (max-width: 991.98px) {
    &__button:not(:last-child) {
      margin-right: 10px;
    }

    &__button {
      padding: 13px 0px;
      font-size: 18px;
      min-width: 150px;
      border: #000000 solid 2px;
    }

    &__button_booking {
      font-size: 14px;
      padding: 16px 0px;
    }
  }

  @media screen and (max-width: 767.98px) {

    &__button {
      padding: 10px 0px;
      font-size: 12px;
      min-width: 128px;
    }

    &__button_booking {
      font-size: 12px;
      padding: 10px 0px;
    }
  }
}
