@import '../../components/Layout/Layout.scss';

.cutaways {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    @include breakpoint(xs) {
      gap: 7px;
    }
  }

  &__list li {
    @include breakpoint(lg) {
      max-width: 300px;
    }

    @include breakpoint(sm) {
      max-width: 230px;
    }

    @include breakpoint(xs) {
      max-width: 130px;
    }
  }
}
