.diplomas-certificates {
  &__container {}

  &__body {}
}

.diplomas {

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 30px;
  }

  &__item {}
}

.certificates {
  &__title {
    // margin: 40px 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 30px;
  }

  &__item {}
}

.green-and {
  color: #05921C;
  font-family: 'Great Vibes', cursive;
}
