@import '../Layout/Layout.scss';

.title {
  &__title {
    font-family: 'Bona Nova', serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    line-height: 1.2;

    @include breakpoint(md) {
      font-size: 30px;
    }

    @include breakpoint(sm) {
      font-size: 28px;
    }

    @include breakpoint(xs) {
      font-size: 18px;
    }
  }
}
