.title {
  &__title {
    font-family: 'Bona Nova', serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    line-height: 1.2;

    @media screen and (max-width: 991.98px) {
      font-size: 30px;
    }

    @media screen and (max-width: 767.98px) {
      font-size: 28px;
    }

    @media screen and (max-width: 575.98px) {
      font-size: 18px;
    }
  }
}
