.title {
  &__container {}

  &__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-family: 'Bona Nova', serif;
    padding: 5px;
  }

  @media screen and (max-width: 768px) {
    &__title {
      font-size: 20px;
    }
  }
}

