.breadcrumb {
  font-family: 'Abel', sans-serif;
  font-size: 14px;
  line-height: 137%;
  margin: 25px 5px 0px 0px;
  color: #727272;
  padding: 5px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  &__item_active {
    color: #000000;
    font-size: 20px;
    text-transform: lowercase;
  }

  &__slash {
    padding: 0 7px;
  }

  @media screen and (max-width: 991.98px) {
    font-size: 12px;

    &__item_active {
      font-size: 15px;
    }

    &__slash {
      padding: 0 5px;
    }
  }

  @media screen and (max-width: 767.98px) {
    font-size: 11px;
    margin: 10px 5px 0px 5px;

    &__item_active {
      font-size: 12px;
    }

    &__slash {
      padding: 0 4px;
    }
  }

  @media screen and (max-width: 575.98px) {
    margin: 10px 10px 0px 5px;

    &__slash {
      padding: 0 3px;
    }
  }
}
