.main {
  padding-top: 28px;

  &__container {
    position: relative;
  }

  &__body {}

  &__image {
    position: absolute;
    top: 0;
    left: -40px;
    z-index: -1;
  }

  &__image img {
    max-width: 100%;
    object-fit: cover;
  }

  &__data {
    max-width: 757px;
    padding: 10px 5px 5px 5px;
    margin-left: 218px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
  }

  &__name img {
    max-width: 100%;
    object-fit: cover;
  }

  &__name {
    padding-bottom: 25px;
  }

  &__career img {
    max-width: 100%;
    object-fit: cover;
  }

  &__about {
    margin: 95px 0 90px 445px;
  }

  &__exposition {
    margin: 0 auto 103px; // переделать!!
    font-family: 'Bona Nova';
    font-size: 30px;
    line-height: 120%;
    max-width: 894px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
  }


  @media screen and (max-width: 1200px) {
    &__image {
      max-width: 400px;
    }

    &__data {
      max-width: 600px;
      padding: 15px 5px 5px 5px;
    }

    &__name {
      max-width: 350px;
    }

    &__about {
      margin: 85px 0 70px 410px;
    }
  }

  @media screen and (max-width: 992px) {
    &__image {
      left: -30px;
      max-width: 330px;
    }

    &__data {
      max-width: 455px;
      padding: 15px 5px 5px 5px;
      margin-left: 220px;
      margin-right: 70px;
    }

    &__name {
      max-width: 270px;
    }

    &__about {
      margin: 70px 0 100px 300px;
    }

    &__exposition {
      margin: 0 auto 90px; // переделать!!
      font-size: 15px;
      max-width: 700px;
    }
  }

  @media screen and (max-width: 768px) {

    &__image {
      left: 25px;
      max-width: 209px;
    }

    &__data {
      max-width: 290px;
      padding: 5px 5px 5px 5px;
      margin-left: 170px;
      margin-right: 70px;
    }

    &__name {
      max-width: 190px;
      padding-bottom: 15px;
    }

    &__about {
      margin: 220px 0 30px 10px;
    }

    &__exposition {
      margin: 0 auto 60px; // переделать!!
      font-size: 10px;
      max-width: 480px;
    }
  }

  @media screen and (max-width: 576px) {

    &__image {
      left: 5px;
      max-width: 160px;
    }

    &__data {
      max-width: 140px;
      padding: 32px 5px 5px 5px;
      margin-left: 90px;
      margin-right: 45px;
    }

    &__name {
      max-width: 90px;
      padding-bottom: 0px;
    }

    &__career {
      max-width: 140px
    }

    &__about {
      margin: 170px 0 30px 0px;
    }

    &__exposition {
      margin: 0 auto 120px; // переделать!!
      font-size: 8px;
      max-width: 300px;
    }
  }
}

.about {
  padding: 5px;

  &__description {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
  }

  &__separator-about {
    height: 154px;
    margin-right: 15px;
  }

  &__text {
    font-family: 'ABeeZee', sans-serif;
    max-width: 545px;
    color: #000000;
    font-size: 13px;
    line-height: 138%;
    padding: 3px;
  }

  &__text span {
    font-size: 18px;
    color: #05921C;
  }

  @media screen and (max-width: 1200px) {
    &__text {
      max-width: 545px;
      font-size: 13px;
    }
  }


  @media screen and (max-width: 992px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2px;

    &__description {
      padding-bottom: 0px;
      order: 2;
    }

    &__separator-about {
      height: 198px;
      margin-right: 10px;
    }

    &__text {
      max-width: 280px;
      font-size: 11px;
      line-height: 127%;
    }

    &__text span {
      font-size: 15px;
    }

    &__my-photo {
      width: 100px;
      margin-right: 20px;
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2px;

    &__description {
      order: 2;
    }

    &__separator-about {
      height: 130px;
      margin-right: 4px;
    }

    &__text {
      max-width: 185px;
      font-size: 7px;
      line-height: 136%;
    }

    &__text span {
      font-size: 10px;
    }

    &__my-photo {
      width: 60px;
      margin-right: 12px;
      margin-bottom: 10px;
    }
  }
}
