*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  user-select: none;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
  max-width: 100%;
  object-fit: cover;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

body {
  height: 100%;
  line-height: 1;
  font-family: 'Abel', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

/////////////////////////////////////////////////////////////////////
._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;

  @media screen and (max-width: 1199.98px) {
    max-width: 1100px;
  }

  @media screen and (max-width: 991.98px) {
    max-width: 984px;
  }

  @media screen and (max-width: 767.98px) {
    max-width: none;
  }
}

._title {
  margin: 30px 5px 15px;

  @media screen and (max-width: 991.98px) {
    margin: 20px 5px 15px;
  }

  @media screen and (max-width: 767.98px) {
    margin: 25px 5px 15px;
  }
}

._up {
  margin: 50px 0 30px;

  @media screen and (max-width: 991.98px) {
    margin: 40px 0 25px;
  }
}

._go-to-main {
  margin: 24px auto 20px;
}

._title-main {
  padding: 110px 0 36px;
  font-family: 'Bona Nova';
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  letter-spacing: 1.5px;

  @media screen and (max-width: 1199.98px) {
    padding: 70px 0 30px;
    font-size: 45px;
    letter-spacing: 1px;
  }

  @media screen and (max-width: 991.98px) {
    padding: 40px 0 30px;
    font-size: 28px;
    letter-spacing: 1px;
  }

  @media screen and (max-width: 767.98px) {
    padding: 40px 0 24px;
  }

  @media screen and (max-width: 575.98px) {
    padding: 137px 0 24px;
  }
}

._separator {
  width: 5px;
  background-color: #05921C;

  @media screen and (max-width: 991.98px) {
    width: 4px;
  }

  @media screen and (max-width: 767.98px) {
    width: 2.5px;
  }
}

._red-rectangle {
  width: 60px;
  background-color: #FF3D00;

  @media screen and (max-width: 767.98px) {
    width: 50px;
  }
}

._icon {
  transition: transform 0.3s ease;
}

._icon:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

//////////////////////////////////////////////////////////////////////
.menu-main {

  &__separator-main {
    height: 290px;
    margin-right: 26px;
  }

  &__separator-main_long {
    height: 380px;
  }

  &__list {
    margin-bottom: 35px;
  }

  &__item {
    font-size: 20px;
    line-height: 118%;
    letter-spacing: 1.5px;
  }

  &__item:not(:last-child) {
    margin-bottom: 11px;
  }

  &__item_price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 520px;
    border-bottom: 1px #05921C dashed;
  }

  &__item_price:last-child {
    margin-bottom: 20px;
  }

  &__price {
    text-transform: lowercase;
    max-width: 80px;
    min-width: 75px;
  }

  &__link {
    color: #000000;
    position: relative;
    transition: all .1s ease-out;
  }

  &__link:hover {
    background: #A0C860;
    transition: all .2s ease-out;
  }

  @media screen and (max-width: 1199.98px) {
    &__separator-main {
      height: 243px;
      margin-right: 17px;
    }

    &__separator-main_long {
      height: 330px;
    }

    &__list {
      margin-bottom: 40px;
    }

    &__item {
      font-size: 15px;
      line-height: 137%;
      letter-spacing: 1px;
    }

    &__item:not(:last-child) {
      margin-bottom: 9px;
    }

    &__item_price {
      min-width: 430px;
    }

    &__price {
      max-width: 60px;
      min-width: 55px;
    }
  }

  @media screen and (max-width: 991.98px) {
    display: flex;

    &__separator-main {
      height: 225px;
      margin-right: 12px;
    }

    &__separator-main_long {
      height: 273px;
    }

    &__list {
      margin-bottom: 25px;
    }

    &__item {
      font-size: 14px;
    }

    &__item:not(:last-child) {
      margin-bottom: 8px;
    }

    &__item_price {
      min-width: 320px;
      font-size: 12px;
      line-height: 141%;
    }

    &__item_price:last-child {
      margin-bottom: 0px;
    }

    &__price {
      max-width: 50px;
      min-width: 45px;
    }
  }

  @media screen and (max-width: 767.98px) {
    &__separator-main {
      height: 185px;
      margin-right: 10px;
    }

    &__separator-main_long {
      height: 225px;
    }

    &__list {
      margin-bottom: 30px;
    }

    &__item {
      font-size: 10.5px;
    }

    &__item:not(:last-child) {
      margin-bottom: 8px;
    }

    &__link-reduced {
      font-size: 8.8px;
    }

    &__item_price {
      min-width: 240px;
      font-size: 9px;
      line-height: 130%;
      // border: #FF3D00 solid 1px;
    }

    &__price {
      max-width: none;
      min-width: 36px;
    }
  }
}

// .icons-group-contacts {
//   display: flex;

//   @media screen and (max-width: 991.98px) {
//     gap: 16px;

//     &__icon img {
//       width: 40px;
//       height: 40px;
//     }
//   }

//   @media screen and (max-width: 767.98px) {
//     &__icon img {
//       width: 31px;
//       height: 31px;
//     }
//   }
// }
