*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

body {
  line-height: 1;
  font-family: 'Abel', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

._container {
  max-width: 1181px;
  // max-width: 1273px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

._title {
  margin: 51px 5px 34px;
}

._in-portfolio {
  margin: 45px 0;
}

.layout {}

.buttons-group {
  &__button:not(:last-child) {
    margin-right: 47px;
  }

  &__button {
    color: #000000;
    text-transform: none;
    padding: 18px 0px;
    font-size: 25px;
    line-height: 118%;
    border: #000000 solid 3px;
    min-width: 250px;
    text-align: center;
    transition: all .2s ease;
  }

  &__button:hover {
    color: #FFFFFF;
    background-color: #000000;
    transition: all .2s ease;
  }

  &__button_booking {
    color: #FF3D00;
    font-size: 20px;
    padding: 22px 0px;
  }

  &__button_booking:hover {
    color: #FF3D00;
  }
}

.icons-group1-contacts {
    display: flex;
    gap: 29px;

  &__icon {
    transition: transform 0.3s ease;
  }

  &__icon:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease;
  }
}
