*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  line-height: 1;
  font-family: 'Abel', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

._container {
  max-width: 1181px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

._title {
  margin: 50px 5px;
}

._up {
  margin: 45px 0;
}

.layout{}
