.cost {
  &__container {
    max-width: 1300px;
  }

  &__body {
    font-family: 'ABeeZee', sans-serif;
    font-size: 25px;
    line-height: 118%;
    padding-left: 5px;
  }

  &__title {
    padding: 71px 5px 88px; //предложить меньше
    padding: 50px 5px 50px;
  }

  &__info {
    padding: 5px;
    margin: 0 auto;
    max-width: 980px;
  }

  &__info p {
    padding-top: 19px;
  }

  &__text {}

  &__text-with-contacts {
    margin-top: 60px;
  }

  &__icons {
    display: flex;
    gap: 18px;
    margin-top: 23px;
  }

  &__icons img {
    align-self: center;
  }

  &__icons-group {
    gap: 18px;
  }

  &__condition-box {
    margin: 44px 0px;
  }

  &__button {
    margin: 0 0 74px 180px;
  }

  @media screen and (max-width: 1199.98px) {

    &__body {
      font-size: 23px;
    }

    &__title {
      padding: 50px 5px 30px;
    }

    &__info {
      padding: 5px 90px 5px 5px;
    }

    &__info p {
      padding-top: 15px;
    }

    &__text {}

    &__text-with-contacts {
      margin-top: 30px;
    }

    &__button {
      display: flex;
      margin: 0 0 74px 100px;
    }
  }

  @media screen and (max-width: 991.98px) {

    &__body {
      font-size: 20px;
    }

    &__title {
      padding: 40px 5px 30px;
    }

    &__info {
      padding: 5px 70px 5px 10px;
    }

    &__button {
      display: flex;
      margin: 0 0 74px 50px;
    }
  }

  @media screen and (max-width: 767.98px) {

    &__body {
      font-size: 11px;
    }

    &__title {
      padding: 20px 5px 20px;
    }

    &__info p {
      padding-top: 10px;
    }

    &__text-with-contacts {
      margin-top: 20px;
    }

    &__icons {
      display: flex;
      gap: 18px;
      margin-top: 20px;
    }

    &__icons>img {
      width: 15px;
      height: 15px;
    }

    &__condition-box {
      margin: 25px 0px;
    }

    &__button {
      display: flex;
      margin: 0 0 74px 50px;
    }
  }

  @media screen and (max-width: 575.98px) {

    &__info {
      padding: 5px 50px 5px 10px;
    }

    &__button {
      display: flex;
      margin: 0 0 110px 0px;
    }
  }
}

.condition-box {
  background-color: #05921C;
  color: #FFFFFF;
  padding: 20px;

  &__body {
    max-width: 980px;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__list li::before {
    content: "•";
    display: inline-block;
    margin: 0px 20px 5px 0px;
  }

  &__reduce {
    font-size: 20px;
  }

  @media screen and (max-width: 991.98px) {
    &__body {
      max-width: 840px;
    }

    &__list li::before {
      margin: 0px 15px 7px 0px;
    }

    &__reduce {
      font-size: 15px;
    }
  }

  @media screen and (max-width: 767.98px) {

    &__title {
      margin-bottom: 18px;
    }

    &__list li::before {
      margin: 0px 10px 0px 0px;
    }

    &__list {
      margin: 0px 10px 0px 0px;
    }

    &__item:not(:last-child) {
      margin-bottom: 10px;
    }

    &__reduce {
      font-size: 9.5px;
    }
  }
}
