.header {

  &__container {
    position: relative;
  }

  &__body {
    padding: 17px 5px 0 5px;
    display: flex;
    align-items: center;
  }

  &__logo {}

  &__menu {
    margin-left: 237px;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 81px;
  }

  &__link {
    color: #727272;
    line-height: 125%;
  }

  &__link:hover {
    color: #05921C;
    border-bottom: #05921C solid 1px;
    transition: 0.3s;
  }

  &__red-rectangle {}
}

.red-rectangle {
  width: 100px;
  height: 553px;
  background-color: #FF3D00;
  position: absolute;
  top: 0;
  right: 0px;
  z-index: -1;
}
