.go-top {
  &__container {}

  &__box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    cursor: pointer;
    max-width: 50px;
    align-items: center;
  }

  &__title {
    display: inline;
    font-size: 18px;
    text-transform: lowercase;
    padding: 0 10px;
    letter-spacing: 2px;
    line-height: 200%;
  }

  &__green-button {
    display: none;
  }

  @media screen and (max-width: 991.98px) {
    &__image {
      max-width: 18px;
    }

    &__title {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 767.98px) {
    &__box {
      display: none;
    }

    &__green-button {
      position: fixed;
      z-index: 50;
      top: 50%;
      max-width: 55px;
      transform: translate(0, -50%);
      background-size: cover;
      right: 0;
      left: 0;
      padding: 10px 15px;
      cursor: pointer;
      display: none;
    }

    &__green-button._active {
      display: block;
    }
  }
}
