.in-portfolio {
  &__container {}

  &__body {
    text-align: center;
  }

  &__vector {
    margin-bottom: 10px;
  }

  &__title {
    font-family: 'ABeeZee', sans-serif;
    font-size: 18px;
    text-transform: lowercase;
    padding: 0 10px;
    letter-spacing: 2px;
    line-height: 138%;
  }
}
