.flyers {
  &__container {}

  &__body {}

  &__title {}

  &__list {
    display: grid;
    justify-content: center;
    grid-template-columns: 430px 430px;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    grid-template-areas: "a1 a2"
      "a3 b"
      "a4 b"
      "a4 s"
      "a4 a6"
      "a5 a6"
      "a7 a6"
      "a7 a8";
  }

  &__item1 {
    grid-area: a1;
  }

  &__item2 {
    grid-area: a2;
  }

  &__item3 {
    grid-area: a3;
  }

  &__item4 {
    grid-area: a4;
  }

  &__item5 {
    grid-area: a5;
  }

  &__item5 img {
    min-height: 510px;
    max-width: 430px;
  }

  &__item6 {
    grid-area: a6;
  }

  &__item7 {
    grid-area: a7;
  }

  &__item8 {
    grid-area: a8;
  }

  &__item-big {
    grid-area: b;
  }

  &__item-small {
    grid-area: s;
  }

  @media screen and (max-width: 1199.98px) {
    &__list {
      grid-template-columns: 380px 380px;
      grid-column-gap: 30px;
    }

    &__item5 img {
      min-height: 100%;
      max-width: 100%;
    }
  }

  @media screen and (max-width: 991.98px) {
    &__list {
      grid-template-columns: 280px 280px;
      grid-column-gap: 20px;
    }
  }

  @media screen and (max-width: 767.98px) {
    &__list {
      grid-template-columns: 320px 0px;
      grid-column-gap: 0px;
      grid-template-areas: "a1"
                           "a2"
                           "a3"
                           "a4"
                           "a5"
                           "a6"
                           "a7"
                           "a8"
                           "s"
                           "b";
    }
  }

  @media screen and (max-width: 575.98px) {
    &__list {
      grid-template-columns: 260px 0px;
      grid-row-gap: 25px;
    }
  }
}
