@import '../../components/Layout/Layout.scss';

.flyers {
  &__list {
    display: grid;
    justify-content: center;
    grid-template-rows: 408px 12px 363px 0px 27px 347px 16px 155px;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 15px;
  }

  &__item3 {
    grid-area: 1/3/3/4;
  }

  &__item4 {
    grid-area: 2/1/5/2;
  }

  &__item6 {
    grid-area: 3/3/6/4;
  }

  &__item7 {
    grid-area: 5/1/8/2;
  }

  &__item8 {
    grid-area: 4/2/8/3;
  }

  &__item9 {
    grid-area: 6/3/7/4;

  }

  &__item10 {
    grid-area: 7/3/10/4;
  }

  @include breakpoint(md) {
    &__list {
      grid-template-rows: 272px 2px 243px 0px 8px 231px 8px 100px;
      grid-template-columns: 200px 200px 200px;
    }

    &__item7 {
      margin-top: -6px;
    }
  }

  @include breakpoint(sm) {
    &__list {
      grid-template-rows: 273px 260px 294px 91px 166px 48px 232px;
      grid-template-columns: 200px 200px;
    }

    &__item3 {
      grid-area: 6/1/8/2;
    }

    &__item6 {
      grid-area: 3/1/4/2;
      margin-top: 8px;
    }

    &__item7 {
      grid-area: 4/1/6/2;
    }

    &__item8 {
      grid-area: 3/2/5/3;
    }

    &__item9 {
      grid-area: 5/2/7/3;
    }

    &__item10 {
      grid-area: 7/2/8/3;
    }
  }

  @include breakpoint(xs) {
    &__list {
      grid-template-rows: 179px 171px 196px 61px 110px 36px 147px;
      grid-template-columns: 130px 130px;
      grid-column-gap: 7px;
      grid-row-gap: 5px;
    }

    &__item6 {
      margin-top: 5px;
    }
  }
}
