@import '../Layout/Layout.scss';

.breadCrumbs {
  font-family: 'Abel', sans-serif;
  font-size: 14px;
  line-height: 1.37;
  color: #727272;
  padding: 5px;
  margin: 25px 5px 0px 0px;

  @include breakpoint(md) {
    font-size: 13px;
  }

  @include breakpoint(sm) {
    font-size: 11px;
    margin: 5px 10px 0px 5px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  &__item_active {
    color: #000000;
    font-size: 15px;
    text-transform: lowercase;

    @include breakpoint(md) {
      font-size: 14px;
    }

    @include breakpoint(sm) {
      font-size: 12px;
    }
  }

  &__slash {
    padding: 0 7px;

    @include breakpoint(md) {
      padding: 0 5px;
    }

    @include breakpoint(sm) {
      padding: 0 4px;
    }

    @include breakpoint(xs) {
      padding: 0 3px;
    }
  }
}
