.contacts {
  &__body {
    text-align: center;
  }

  &__title {
    max-width: 250px;
    margin: 0 auto 15px;
    font-size: 18px;
    line-height: 1.27;
    color: #808080;

    @media screen and (max-width: 767.98px) {
      font-size: 16px;
    }

    @media screen and (max-width: 575.98px) {
      margin-bottom: 12px;
    }
  }

  &__data {
    font-size: 25px;
    line-height: 1.18;

    @media screen and (max-width: 767.98px) {
      font-size: 20px;
    }
  }

  &__email {
    margin: 10px 0 25px;

    @media screen and (max-width: 575.98px) {
      margin: 10px 0 20px;
      font-size: 19px;
    }
  }

  &__icons-group {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
}
