.portfolio {
  &__section {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }

  &__info {
    text-align: center;
    margin: 33px 0 30px;
    padding: 0px 110px;

    @media screen and (max-width: 991.98px) {
      margin: 30px 0 15px;
      padding: 0px 70px;
    }

    @media screen and (max-width: 767.98px) {
      font-size: 25px;
      margin: 5px 0 8px;
    }

    @media screen and (max-width: 575.98px) {
      padding: 0;
    }
  }

  &__title h2 {
    font-size: 60px;
    margin-bottom: 5px;

    @media screen and (max-width: 767.98px) {
      font-size: 35px;
      margin-bottom: 5px;
    }

    @media screen and (max-width: 575.98px) {
      font-size: 20px;
      padding: 0 50px 0 5px;
    }
  }

  &__text {
    letter-spacing: 1.5px;
    position: relative;

    @media screen and (max-width: 767.98px) {
      font-size: 14px;
      line-height: 1.12;
    }

    @media screen and (max-width: 575.98px) {
      font-size: 12px;
      text-align: end;
      padding: 15px 55px 15px 5px;
    }
  }

  @media screen and (max-width: 575.98px) {

    &__text::before,
    &__text::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100vw;
      height: 100%;
      background: #ECECEC;
    }

    &__text::before {
      margin-left: -100vw;
      transform: translate(100%, 0);
    }

    &__text::after {
      margin-right: -100vw;
      transform: translate(-100%, 0);
    }
  }

  &__subtitle {
    font-family: 'Bona Nova', serif;
    font-size: 35px;
    margin: 37px 0 25px;

    @media screen and (max-width: 767.98px) {
      font-size: 17px;
      margin: 15px 0;
    }
  }

  &__red-rectangle-portfolio {
    position: absolute;
    bottom: 170px;
    right: 1230px;
    z-index: -1;
    width: 200vh;
    height: 100px;

    @media screen and (max-width: 1199.98px) {
      bottom: 150px;
      right: 910px;
      height: 60px;
    }

    @media screen and (max-width: 991.98px) {
      right: 800px;
    }
  }

  @media screen and (max-width: 767.98px) {
    &__vector-here img {
      max-width: 18px;
    }
  }

  &__go-to-main {
    margin: 25px 0;

    @media screen and (max-width: 991.98px) {
      margin: 26px 0 29px;
    }

    @media screen and (max-width: 575.98px) {
      margin: 15px 0;
    }
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;

  @media screen and (max-width: 991.98px) {
    gap: 5px;
  }

  @media screen and (max-width: 575.98px) {
    gap: 3px;
  }

  &__item {
    position: relative;

    & {
      .gallery__menu {
        display: block;
      }
    }
  }

  &__menu {
    display: none;
    max-width: 100%;
    padding: 12px 17px 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 575.98px) {
      padding: 12px 5px 10px;
    }
  }

  &__menu-item {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;

    @media screen and (max-width: 991.98px) {
      color: white;
    }

    @media screen and (max-width: 767.98px) {
      font-size: 25px;
    }

    @media screen and (max-width: 575.98px) {
      font-size: 15px;
      letter-spacing: 0px;
    }
  }

  &__menu-item_reduce {
    font-size: 24px;

    @media screen and (max-width: 767.98px) {
      font-size: 17px;
    }

    @media screen and (max-width: 575.98px) {
      font-size: 13px;
    }
  }

  &__menu-item:hover {
    color: white;
  }

  &__item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #FF3D00;
    opacity: 0.8;
    transition: all .8s ease;

    @media screen and (max-width: 991.98px) {
      height: 100%;
      background-color: #040404;
    }
  }

  &__item:hover::before {
    height: 100%;
    transition: all 1s ease-out;
  }

  &__and {
    display: block;
    padding: 3px;
  }

  &__item {
    @media screen and (max-width: 991.98px) {
      max-width: 300px;
    }

    @media screen and (max-width: 767.98px) {
      max-width: 265px;
    }

    @media screen and (max-width: 575.98px) {
      max-width: 145px;
    }
  }
}
